@model IEnumerable<Category>

<div class="col-12 col-sm-3">
    <div style="margin-bottom: 5.5%;" class="input-group">

        <div class="searchbar">
            <input id="search" onkeyup="timkiem()" class="search_input" type="text" name="" placeholder="Tìm kiếm...">
            <p href="#" class="search_icon"><i class="fas fa-search"></i></p>
        </div>
    </div>
    <div class="card bg-light mb-3">
        <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Danh mục sản phẩm</div>
        <ul class="list-group category_block">
            <a asp-action="collection" asp-controller="home" asp-route-msp="all">
            <li style="font-weight: bold; color: red " class="list-group-item">Tất cả sản phẩm</li>
            </a>

            @foreach (var item in Model)
            {
                <a asp-action="collection" asp-controller="home" asp-route-msp="@item.Id">
                <li class="list-group-item">@item.Tenloai</li>
                </a>
            }
        </ul>
    </div>

    <div class="card bg-light mb-3">
        <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i>Khoảng giá</div>
        <ul class="list-group category_block">
            <li class="list-group-item">
                <input type="checkbox">
                <label>40xxxx</label>
            </li>
            <li class="list-group-item">
                <input type="checkbox">
                <label>40xxxx</label>
            </li>
            <li class="list-group-item">
                <input type="checkbox">
                <label>40xxxx</label>
            </li>
            <li class="list-group-item">
                <input type="checkbox">
                <label>40xxxx</label>
            </li>

        </ul>
    </div>
</div>
<script type="text/javascript">
    function timkiem() {
        var search, filter, li, a, i, count = 0, txtValue;
        const show = document.querySelector(".search_input");
        const noti = document.querySelector("#noti");
        const pagination = document.querySelector(".pagination");
        search = document.getElementById("search");
        if (search !== '' || search !== null) {
            show.style.width = "200px";
            filter = search.value.toUpperCase();
            li = document.getElementsByClassName("item");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("h5")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    count++;
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
            if (count === 0) {
                pagination.style.display = "none";
            }
        }

    }
</script>